/*--------- Home -------- */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body{
    width: 425px;
    font-family: "poppins";
    font-weight: 500;
}
.headerVitrine{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px -20px rgba(0, 0, 0, 0.25);
}
.nomeDoRestaurante{
    display: flex;
    align-items: baseline;
}
.vitrineCardapio-produtos{
    display: flex;
    list-style: none;
    padding: 1px;
    align-items: center;
}
h3{
    font-size: 28px;
    padding: 2px;
}
h4{
    font-size: 20px;
    color: #FF2253;
    padding: 2px;
}
.divBuscar{
    display: flex;
    align-items: center;
    position: relative;
}
.inputBuscar{
    background-color: #E9ECEF;
    border-radius: 25px;
    width: 100%;
    border: 1px solid #E9ECEF;
    height: 28px;
}
.btnPesquisar{
    border: none;
    background-color: #f5c3cd;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 1;
    right: 0;
    border-radius: 25px;
    margin-right: 5px;
}
.categorias{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.listaDeBusca{
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
}
.liFiltro{
    display: flex;
}
.btn{
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    height: 25px;
    font-size: 12px;
    border-radius: 15px;
    background-color: #F3EEF5;
    border: none;
    font-weight: 500;
}
.imgPaes{
    width: 18px;
    height: 8px;
    padding: 0px 10px 0px 5px;
}
.imgFrutas{
    width: 20px;
    height: 12px;
}
.imgBebidas{
    padding: 0px 2px 0px 2px;
    width: 10px;
    height: 15px;
}
.btnFiltros{
    display: flex;
}
.pesquisarPanificadora{
    background-color: #FFF7F4;

}
.pesquisarFrutas{
    background-color: #FFF1F4;
}
.pesquisarBebidas{
    display: flex;
    align-items: center;
}
.pesquisarTodos{
    width: 88px;
    background-color: #FF2253;
    color: #FFF;
}
.adicionarProduto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    background-color: #FF2253;
}
.btn-p-adicionarProduto{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #F8F9FA;
}

.mainVitrine{
    display: flex;
    padding: 20px;
}
.vitrineCardapio{
    display: flex;
    width: 70%;
}
.divPreco{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.asideCarrinho{
    width: 30%;
}
.headerCarrinho{
    width: 100%;
    color: #FFF;
    background-color: #FF2253;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 5px;
}
.headerCarrinho > h3{
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}
.carrinhoListar{
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
}
.vitrineCardapio-produtos{
    display: flex;
    flex-direction: column;
}
.vitrineCardapio-produtos-listar{
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
}
.vitrineCardapio-produtos-listar > p{
    color: #868E96;
    padding: 5px 0px 5px 0px;
    font-size: 14px;
}
.h2Cardapio{
    font-family: "poppins";
    font-weight: 500;
    padding: 5px 0px 0px 0px;
}
.preco{
    display: flex;
    justify-content: flex-start;
    padding: 2px;
}
.imgCardapio{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.imgHeader{
    width: 50%;
    padding-left: 20px;
}
.imgCarrinho{
    width: 40%;
}
.carrinhoListar > h2, .preco{
    font-size: 12px;
}
.carrinhoListar > p{
    font-size: 10px;
}
.imgCart{
    width: 10px;
    height: 10px;
}
.btnAddCarrinho{
    border: none;
    border-radius: 25px;
}
.divQuantidadeCarrinho{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #F8F9FA;
}
.divTotalCarrinho{
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.vitrineCarrinho-Listar{
    display: flex;
    flex-direction: column
}
.botaoExcluirCarrinho{
    width: 30px;
    height: 25px;
}

.btnLogin{
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 50px;
    background: #FF2253;
    color: white;
}

.btnLogout{
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 50px;
    background: #FF2253;
    color: white;
}



button:hover{
    cursor: pointer;
}


/*-------------------- Página login.html -------------------- */
.containerFormLogin{
    width: 80%;
    margin: auto;
    height: 70vh;
    margin-top: 12vh;
    border-radius: 8px;
    -webkit-box-shadow: 1px 2px 21px -5px rgba(0,0,0,0.73); 
    box-shadow: 1px 2px 21px -5px rgba(0,0,0,0.73);
}

.tituloLogin {
    text-align: center;
    padding-top: 25%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 20px;
}

.formularioLogin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

.formularioLogin>input {
    width: 70%;
    height: 10%;
    background-color: #E9ECEF;
    border: 1.5px solid #E9ECEF;
    border-radius: 12px;

    color: #868E96;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.formularioLogin>button {
    width: 70%;
    height: 10%;
    background-color: #FF2253;
    border: 1.5px solid #FF2253;
    border-radius: 12px;

    color: #F8F9FA;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}


/*Modais*/
.modalErroLogin {
    display: none;
    width: 90%;
    height: 10%;
    position: fixed;
    top: 25%;
    left: 5%;
    background-color: #FFFFFF;
    border-radius: 12px;
}

.containerModalContent {
    width: 100%;
}

.modalHeader {
    display: flex;
    align-items: center;
    height: 50%;
    justify-content: space-between;
    background-color: #F8F9FA;
    border-radius: 12px 12px 0px 0px;
}
.modalHeader>h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-left: 15px;
}
.modalHeader>button {
    background-color: #E9ECEF;
    border-radius: 4px;
    border: 1.5px solid #E9ECEF;
    margin-right: 15px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #868E96;
}

.modalContent>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #212529;
    margin-left: 20px;
}
.modalErroFooter {
    height: 10%;
    background-color: #FF2253;
    border-radius: 0px 0px 12px 12px;
}

/* -------------------- Página registro.html -------------------- */ 
.containerFormCadastro {
    width: 80%;
    margin-left: 18px;
    height: 70vh;
    margin-top: 8vh;
    border-radius: 8px;
    -webkit-box-shadow: 1px 2px 21px -5px rgba(0,0,0,0.73); 
    box-shadow: 1px 2px 21px -5px rgba(0,0,0,0.73);
}

.tituloCadastro {
    text-align: center;
    padding-top: 25%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 20px;
}

.formularioCadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

.formularioCadastro>input {
    width: 70%;
    height: 10%;
    background-color: #E9ECEF;
    border: 1.5px solid #E9ECEF;
    border-radius: 12px;

    color: #868E96;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.formularioCadastro>button {
    width: 70%;
    height: 10%;
    background-color: #FF2253;
    border: 1.5px solid #FF2253;
    border-radius: 12px;

    color: #F8F9FA;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

/*Modais*/
.modalErroCadastro {
    display: none;
    width: 85%;
    height: 10%;
    position: fixed;
    top: 25%;
    left: 1%;
    background-color: #FFFFFF;
    border-radius: 12px;
}
.modalConfirmacaoCadastro {
    display: none;
    width: 85%;
    height: 10%;
    position: fixed;
    top: 25%;
    left: 1%;
    background-color: #FFFFFF;
    border-radius: 12px;
}
.modalConfirmaFooter {
    height: 10%;
    background-color: #39DF8F;
    border-radius: 0px 0px 12px 12px;
}


/* ---------------- Página Adm ----------------*/

.mainAdm{
    display: flex;
    padding: 20px;
    margin: 0 auto;
}
.vitrineAdm{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
.vitrineAdm-produtos-header{
    display: flex;
    flex-direction: column;
}
.vitrineAdm-produtos{
    display: flex;
    flex-direction: column;
}
.vitrineAdm-produtos-listar{
    display: flex;
    width: 100%;
    height: 62px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid #E9ECEF;  
    box-sizing: border-box;
    border-radius: 12px;
}
.vitrineAdm-produtos-listar-header{
    display: flex;
    width: 98%;
    height: 62px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #868E96;
}

.vitrineAdm-produtos-listar-td{
    width: 250px;
    display: flex;
    flex-direction: row;
}

p{
    color: #868E96;
    padding: 5px 0px 5px 0px;
    font-size: 14px;
}
.h2Adm{
    font-family: "poppins";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 0px 0px 0px;
    color: #212529;
}
.imgAdm{
    width: 32px;
    height: 32px;
    border-radius: 150px;
    margin: 0 auto;
}
.divCategoriaAdm{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5px;
}
.divCategoriaAdmBtn{
    width: 93px;
    height: 27px;
    background: #F8F9FA;
    border: none;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #868E96;
}
.block-with-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #868E96;

    white-space: nowrap;
    width: 25em;
    overflow: hidden;
    text-overflow: ellipsis;     
    text-align: justify;
}

.divAcaoAdm{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5px;
}
.btnEditarExcluirAdm{
    width: 32px;
    height: 32px;
    border-radius: 150px;
    border: none;
    background: #F8F9FA;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    color: #868E96;
}
.imgAdmAcao{
    height: 20px;
    border-radius: 150px;
    margin: 0 auto;
}

/* -------- Media Query -------*/
@media(min-width: 426px){
    body{
        width: 768px;
    }
    .listaDeBusca{
        width: 70%; 
    }
    .pesquisarTodos{
        margin: 0px 0px 0px 20px;
    }
    .mainVitrine{
        display: flex;
        width: 90%;
        justify-content: space-around;
    }
    .vitrineCardapio{
        width: 70%;
    }
    .vitrineCardapio-produtos{
        display: flex;
        flex-direction: row;
        align-content:flex-start;
        flex-wrap: wrap;
        justify-content:flex-start;
    }
    .vitrineCardapio-produtos-listar{
        padding: 5px;
        width: 40%;
        display: flex;
    }
    .asideCarrinho{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
    }
    .vitrineCarrinho{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .vitrineCarrinho-Listar{
        display: flex;
    }

}
    @media(min-width: 769px){
        body{
            width: 100%;
        }

        .categorias{
            width: 60%;
        }
        .vitrineCarrinho{
            display: flex;
        }
        .vitrineCardapio-produtos-listar{
            width: 40%;
        }
   }

